{% extends 'base.html' %}

{% block head %}
    <title>About | Transaction Manager</title>
{% endblock head %}

{% block style %}
        /* CSS styles for the about page */
        
{% endblock style %}

{% block body %}
<div class="container">
    <h1>About Transaction Manager</h1>
    <br>

    <p>Transaction Manager is a powerful web application designed to simplify the management of transactions within a group of people based on a duration basis. Whether you're a business organization, a social club, or any group that needs to track and maintain financial activities, Transaction Manager provides the perfect solution.</p>
    
    <h2>Our Mission</h2>
    <p>At Transaction Manager, our mission is to streamline the process of managing group transactions and empower our users with efficient tools to track and maintain financial records. We understand the challenges faced by groups when it comes to handling financial activities, and our goal is to provide a user-friendly platform that simplifies these tasks and enhances collaboration among group members.</p>
    
    <h2>Key Features</h2>
    <ul>
        <li>
            <p>
                <strong>Easy and Intuitive : </strong>
                Our user interface is designed to be user-friendly and intuitive, ensuring that users can navigate the application effortlessly. You don't need to be a tech-savvy person to use Transaction Manager effectively.
            
            </p>
        </li>
        <li>
            <p>
                <strong>Secure and Reliable : </strong>
                We take security very seriously, and we have implemented several security measures to ensure that your data is safe and secure. We also have a reliable backup system in place to ensure that your data is never lost.
            </p>
        </li>
        <li>
            <p>
                <strong>Collaborative : </strong>
                Transaction Manager is designed to enhance collaboration among group members. You can easily add new members to your group and assign them roles and permissions. You can also share transaction records with other members of your group.
            </p>    
        </li>
        <li>
            <p>
                <strong>Customizable : </strong>
                Transaction Manager is highly customizable, allowing you to tailor the application to suit your needs. You can customize the application to match your brand, and you can also customize the application to suit your group's needs.
            </p>
        </li>
        <li>
            <p>
                <strong>Group-centric Approach : </strong>
                Transaction Manager revolves around the concept of groups. You can create multiple groups, add members, and manage transactions specific to each group. This approach allows for organized and efficient management of transactions.
            </p>
        </li>
        <li>
            <span>
                <strong>Duration-based Transactions : </strong>
                With Transaction Manager, transactions can be categorized based on duration, such as daily, weekly, monthly, or any other custom duration you prefer. This categorization helps in maintaining a clear record of financial activities over time.
            </span>
        </li>
        <li>
            <span>
                <strong>Role-based Access : </strong>
                We understand that not all group members should have the same level of access. That's why Transaction Manager implements role-based access control. The system differentiates between administrators and members, ensuring that only authorized users can perform certain actions.
            </span>
        </li>
        
        
    </ul>
    
    <h2>Contact Us</h2>
    <p>If you have any questions, suggestions, or concerns, please don't hesitate to reach out to our support team.</p>
    <ul>
        <li>Email: sandeepkumargalipelly@gmail.com</li>
        <li>Phone: +91 8978442360</li>
        <li>Twitter: @transactionmgr</li>
    </ul>
    
    <p>Thank you for choosing Transaction Manager. We look forward to helping you efficiently manage your group transactions and simplify your financial management processes.</p>
</div>
{% endblock body %}