{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %}{{ title }} | {% endif %}Transaction Manager</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css">
    
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.jpg' %}" />

    
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" 
        crossorigin="anonymous"
    >
    <link 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/fontawesome.min.css" 
        integrity="sha512-SgaqKKxJDQ/tAUAAXzvxZz33rmn7leYDYfBP+YoMRSENhf3zJyx3SBASt/OfeQwBHA1nxMis7mM3EV/oYT6Fdw==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer" 
    />
    {% comment %} <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" 
        crossorigin="anonymous"
    > {% endcomment %}
    
    <style>
        .asteriskField {
            display: none;
        }
        body {
            font-family: Arial, sans-serif;
        }
        h1 {
            color: #333;
        }
        
        
        {% block style %}{% endblock style %}
    </style>
    {% block head %}{% endblock %} 
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5277798407092392"

     crossorigin="anonymous"></script>
</head>
<body style="background-color: white;">
    {% if not remove_navbar %}
        {% include 'nav.html' %}
    {% endif %}

    <div id="bodypart">
        {% block body %}   

        {% endblock %}
    </div>

     {% comment %} <img src="{% static 'serial_load.gif' %}" alt="can't show" id="loader" class="w-100 h-100 " style="postion:absoule;top:0;left:0">  {% endcomment %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script 
        src="https://code.jquery.com/jquery-3.7.0.js" 
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" 
        crossorigin="anonymous"
    ></script>

    <script>
        $( document ).ready(function() {
            $("#loader").fadeOut();
        });

    </script>
</body>
</html>
