
<div class="container">
    <p class="fs-3 text-center">Transactions</p>
    
    <hr>
    <div class="xl-col-8 col-12 row justify-content-center table-responsive">
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th scope="col">Added by</th>
                    <th scope="col">For</th>
                    <th scope="col">
                        <label for="username">By</label>
                        <select 
                            id="filter_by" 
                            name="username"
                            autofocus 
                            class="rounded"

                            hx-get="{% url 'transactions api' group.id %}"
                            hx-trigger="change delay:1000ms changed"
                            hx-vals='js:{ start_date : start_point.val(), stop_date : stop_point.val(), filter_by : $("#filter_by").val(), share_to : $("#share_to").val() }'
                            hx-target="#transactions_list"
                        >
                            <option value="all" class="text-center">All users</option>
                            <option value="{{ savings.username }}" class="text-center">savings</option>
                            {% for member in group.get_members %}
                                <option value="{{ member.username }}"  class="text-center">{{ member.username }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th scope="col">To</th>
                    <th scope="col">Amount</th>
                    <th scope="col">
                        <label class="w-10" for="start_point">From</label>
                        <input 
                            class="w-30" 
                            name="start_point" 
                            id="start_point" 
                            type="date"
                            
                            hx-get="{% url 'transactions api' group.id %}"
                            hx-trigger="change delay:500ms changed"
                            hx-vals='js:{ start_date : start_point.val(), stop_date : stop_point.val(), filter_by : $("#filter_by").val(), share_to : $("#share_to").val() }'
                            hx-target="#transactions_list"
                        ></input>

                        <br>

                        <label class="w-10" for="stop_point">To</label>
                        <input 
                            class="w-30" 
                            name="stop_point" 
                            id="stop_point"   
                            type="date"
                            
                            hx-get="{% url 'transactions api' group.id %}"
                            hx-trigger="change delay:500ms changed"
                            hx-vals='js:{ start_date : start_point.val(), stop_date : stop_point.val(), filter_by : $("#filter_by").val(), share_to : $("#share_to").val() }'
                            hx-target="#transactions_list"                      
                        ></input>

                    </th>
                    <th scope="col">
                        <label for="share_to">Share To</label>
                        <select 
                            id="share_to" 
                            name="share_to" 
                            autofocus 
                            class="rounded"

                            hx-get="{% url 'transactions api' group.id %}"
                            hx-trigger="change changed"
                            hx-vals='js:{ start_date : start_point.val(), stop_date : stop_point.val(), filter_by : $("#filter_by").val(), share_to : $("#share_to").val() }'
                            hx-target="#transactions_list"
                        >
                            <option value="all" class="text-center">All users</option>
                            {% for member in group.get_members %}
                                <option value="{{ member.username }}"  class="text-center">{{ member.username }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th scope="col">
                        Options 
                        <button 
                            class="btn btn-light w-10" 
                            type="text" 
                            
                            hx-get="{% url 'transactions api' group.id %}"
                            hx-trigger="click"
                            hx-vals='js:{ start_date : start_point.val(), stop_date : stop_point.val(), filter_by : $("#filter_by").val(), share_to : $("#share_to").val() }'
                            hx-target="#transactions_list"
                        >
                            <i class="fa-solid fa-rotate"></i>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody 
                id = "transactions_list"
                hx-get="{% url 'transactions api' group.id %}"
                hx-trigger="load, click"
                hx-vals='js:{ start_date : start_point.val(), stop_date : stop_point.val() }'
                hx-push-url="false"
            >
                <tr>
                    <td colspan="8" class="text-center">Loading...</td>
                </tr>
            </tbody>
        </table>

        <br>
        <p class="text-center"> if you think, savings amount is not correct, you can 
            <button 
                id="recalculate_savings" 
                class="btn btn" 
                aria-current="page" 
                data-bs-toggle="modal" 
                data-bs-target="#savingsModal"
                hx-get="{% url 'recalculate savings' group.id %}"
                hx-target="#savings_amount"
            >
                click here    
                <i class="fas fa-sync-alt"></i>
            </button> to reload 
        </p>
        <br>
    </div>
</div>

<script>
    var today = new Date().toISOString().split('T')[0];
    
    var stop_point  = $("#stop_point");
    var start_point = $("#start_point");

    stop_point.val(today);
    start_point.val(today.substr(0, 8) + "01");

    $(document).on('htmx:afterSwap', function (event) {
        if (event.target.matches('#savings_amount')) {
            alert('Data has been updated!');
        }
    });
</script>
    