{% extends '../base.html' %}

{% block style %}
    .checkbox-parent {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-top: 20px;
        justify-content: space-around;
    }

    article {
        position: relative;
        width: auto;
        height: 40px;
        float: left;
        border: 2px solid #50bcf2;
        border-radius: 6px;
        box-sizing: border-box;
        margin-bottom: 10px;
    }
    
    article div {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 25px;
        padding: 0 10px;
        transition: .2s ease;
    }
    
    article input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        opacity: 0;
        cursor: pointer;
    }
    
    input[type=checkbox]:checked ~ div {
        background-color: #50bcf2;
        color: #fff;
    }
    
    

{% endblock style %}

{% block body %}
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-xl-4 col-md-6 col-12">
            <div class="card p-3 col d-flex ">
                <h1 class="fs-2">Add New Transaction</h1>

                <div  class="card-body ">
                    <div class="card-text">
                        <form action="{% url 'transactions api' group.id %}" method="POST" class="d-flex flex-column">

                            <div class="form-group">
                                <input type="hidden" class="form-control" name="transaction_id" id="transaction_id" value="{% if transaction %}{{ transaction.id }}{% else %}0{% endif %}">
                            </div>

                            {% csrf_token %}
                            
                            <div class="form-group">
                                <label for="for">For</label>
                                <input type="text" class="form-control"  required autofocus name="for" id="for" placeholder="transaction for" value="{{ transaction.transaction_for }}">
                            </div>

                            <div class="form-group mt-2 md-2">
                                <label for="for">By</label>
                                
                                <select  required autofocus class="" name="by" id="by">
                                    {% for member in group.get_members %}
                                        {% if member != user %}
                                            <option value="{{ member.username }}"  class="text-center" {% if transaction.by == member %}selected{% endif %}>{{ member.username }}</option>
                                        {% else %}
                                            {% if is_individual_group %}
                                                <option value="{{ user.username }}"    class="text-center" {% if transaction.by == member %}selected{% endif %}> You </option>  
                                            {% endif %}  
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
    
                            <div class="form-group">
                                <label for="to">To</label>
                                <input type="text"  required autofocus class="form-control" name="to" id="to" placeholder="transaction to" value="{{ transaction.to }}">
                            </div>

                            <div class="form-group">
                                <label for="on">On</label>
                                <input type="date" required autofocus class="form-control" name="on" id="on" placeholder="transaction on" value="{{ transaction.on|date:"Y-m-d"   }}">
                            </div>

                            <div class="form-group mt-2">
                                <label for="amount">Amount</label>
                                <input type="number" required autofocus class="form-control" name="amount" id="amount" placeholder="transaction amount" value="{{ transaction.amount }}">
                            </div>
                            
                            <div class="form-group">
                                <label for="share_to">Share To</label>

                                <div class="checkbox-parent">
                                    <article>
                                        <input 
                                            type="checkbox" 
                                            id="all_options"
                                        />
                                        <div>
                                            <span>
                                                All
                                            </span>
                                        </div>
                                    </article>
                                    {% for member in group.get_members %}
                                        <article>
                                            <input 
                                                type="checkbox" 
                                                name="share_to" 
                                                class="share_options"
                                                value="{{ member.username }}"
                                                {% if member in transaction.share_to.all %}
                                                        checked
                                                {% endif %}
                                            />
                                            <div>
                                                <span>
                                                    {{ member.username }}
                                                </span>
                                            </div>
                                        </article>
                                    {% endfor %}
                                </div>
                                        
                            </div>   

                            <input type="submit" value="{% if transaction %}Update{% else %}Add{% endif %}" class="btn btn-outline-primary mt-2 justify-content-center">
                        </form>
                    </div>     
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(() => {
        let today = new Date().toISOString().split('T')[0];

        {% if not transaction %}
            $("#on").val(today);
        {% endif %}

        $('#all_options').change(function() {
            var isChecked = $(this).is(':checked');
            $('.share_options').prop('checked', isChecked);
        });

    })
</script>
{% endblock body %}