{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h2>Login</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" value="login" class="mt-2 btn btn-primary">
                    </form>
                    <p>Don't Have An Account ..? <a class="btn btn-secondary-outline" href={% url 'signup' %}>Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}