{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <h1>Change Password</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="Update" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
{% endblock %}